* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6e7f8;
    overflow-y: hidden;
}

.container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #000;
    background-color: #fff;
    padding: 1rem;
    min-width: 300px;
}

button, input {
    width: 100%;
    padding: .5rem;
}

button {
    border-radius: 5rem;
    border: none;
    background-color: #74257a;
    margin-block: 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem;
}

button:hover {
    transition: .2s;
    background-color: #461649;
}

.form-item  + .form-item {
    margin-block-start: 1rem;
}

h1 {
    text-align: center;
    margin-block-end: 1rem;
}

a {
    text-decoration: none;
    color: #74257a;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.div {
    text-align: center;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
}

input {
    font-size: 1.1rem;
}