* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 100%;
}

.hide {
    display: none;
}

video {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(51, 46, 46), rgb(100, 100, 94), #1b1616);
    height: 100%;
    border-radius: 5px;
    object-fit:cover;
}

#local-video, #setup-video {
    transform: rotateY(180deg);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6e7f8;
    overflow-y: hidden
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.sections {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* #setup section */
#avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #74257a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
#avatar .image {
    width: 30%;
    border-radius: 100%;
    background-color: #fff;
}
#avatar .name {
    font-family: "Poppins", serif;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 450;
    margin-block-start: .5rem;
}
#avatar.hide {
    display: none;
}
#avatar.show {
    display: block;
    position: absolute;
}

.muted > svg {
    fill: #ff1a1a;
}

#permission-text {
    font-family: "Poppins", serif;
    text-align: center;
    background-color: #fff;
    position: absolute;
  

    z-index: 1;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    top: 50%;
    left: 1rem;
    right: 1rem;
    font-weight: 600;
    padding: .5rem;
}

#setup-mic:hover, #setup-camera:hover {
    background-color: #bbb6b6;
    cursor: pointer;
}

#setup .contains {
    padding-inline: .5rem;
}

#setup header {
    height: 10%;
    margin-block-start: 1rem;
}


#setup header nav {
    display: flex;
    align-items: center;
}

#setup header .banner {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: #74257a;
}


#setup header .date-info {
    margin-left: auto;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(95,99,104);
    display: flex;
    gap: .5rem;
    align-items: center;
}

#setup header .avatar {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    border: 2px solid #74257a;
}

#setup main {
    display: flex;
}

#setup main .left {
    width: 60%;
}


#setup main .left .setup-local-container {
    position: relative;
    margin-inline: .5rem;
    margin-top: 1rem;
    height: 75%;
}

.setup-local-controls {
    position: absolute;
    width: 100%;
    bottom: .8rem;
    left: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    z-index: 3;
}

.setup-local-controls button {
    border: 2px solid #fff;
    background-color: transparent;
    padding: .5rem;
    border-radius: 100%;
}

.setup-local-controls button > svg{
    width: 2.5rem;
    height: 2.5rem;
}


#setup main .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    padding-block-start: 9rem;
    padding-inline-start: 4rem;
}

#setup main .right h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #1f1f1f;
    font-size: 3rem;
    margin-block-end: 1rem;
}

#setup main .right p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #444746;
    margin-block-end: 1rem;
}

#setup main .right button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #74257a;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

#setup main .right button:hover {
    background-color: #461649;
}





/* #room section */

#videos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    gap: .5rem;
    overflow-y: auto;
}

#room {
    background-color:#461649;
}

#room .room-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#room .room-container .top {
    height: 88%;
    padding-inline: .5rem;
}

#room .room-container .bottom {
    height: 12%;
    display: flex;
    justify-content:space-between;
    padding-inline: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    align-items: center;
}

#room .room-container .bottom .time-id {
    font-size: 1rem;
    font-weight: 500;
}

#room .room-container .bottom .controls {
    display: flex;
    gap: .8rem;
}

.ctrls {
    background-color:#c14fca;
    border: none;
    padding: .5rem;
    border-radius: 100%;
    transition: .3s;
}

.ctrls:hover {
    background-color: #74257a;
    cursor: pointer;
}

.ctrls > svg {
    width: 2.2rem;
    height: 2.2rem;
}

#room-endcall {
    background-color: #ff1a1a;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-inline: 1rem;
}

#room-endcall:hover {
    background-color: #e60000;
}


#room .room-container .bottom .info {
    display: flex;
    gap: .8rem;
}

.infos {
    border: none;
    background-color: transparent;
}

.infos > svg {
    width: 1.9rem;
    height: 1.9rem;
}

.videos {
    flex-basis: 25%;
}




/* #leave section */

#leave .leave-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leave h2 {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-block-end: 3rem;
}

#leave button {
    color: #fff;
    background-color: #74257a;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: .8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

#leave button:hover {
    background-color: #461649;
}

.rejoin-return {
    display: flex;
    gap: 1rem;
}