<html>
  <h1>
    {{ .title }}
  </h1>
  <a href="/meet">meetings</a><br>
  <a href="/call">call</a><br>
  <a href="/stream">stream</a><br>
  <a href="/msgs">messages</a><br>
  <a href="/records">records</a><br>
</html>
